/* Mobile First Styles */
body {
    background-image: url('images/3638367.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 2em;
    overflow-x: hidden;
}

.encabezado {
    margin-top: 4em;
}

.contenedor-logoh1 {
    position: relative;
    width: 100%;
    height: 4em;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.logo {
    width: 35%;
    padding-left: 1em;
    padding-top: 1em;

}

header {
    color: #BB4DB9;
    font-size: x-large;
    font-family: 'Galada', cursive;
    -webkit-text-stroke: 0.5px #FFFFB6;
    padding-bottom: 2em;
    height: 2em;
}

.lema {
    color: #BB4DB9;
    font-family: 'Galada', cursive;
    font-size: x-small;
    text-align: center;
    margin-bottom: 3em;
    display: flex;
    padding-bottom: 1em;
    padding-left: 12em;
}

.menu {
    background-color: #DC5CD3;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2.6em;
}

.menu img {
    width: 10%;
}

.right-image {
    order: 1;
}

label {
    font-family: "Roboto", sans-serif;
    font-size: x-small;
    color: #fdd5fa;
    width: 100%;
    margin: 0.5em 0;
}

select {
    background-color: #fdd5fa;
    border-radius: 2em;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    color: #25022d;
    width: 100%;
    box-sizing: border-box;
}

button[data-testid="button-clear"] {
    font-family: "Roboto", sans-serif;
    background-color: #6477e1;
    color: #f7e0f5;
    font-size: x-small;
    padding: 0.5%;
    cursor: pointer;
    border-radius: 0.7em;
    margin-left: 0;
    width: 100%;
    text-align: center;
}

.card-list {
    background-color: #D2D3FC;
    border: 4px solid #FFFFB6;
    border-radius: 3em;
    width: 80%;
    list-style: none;
    margin-top: 20px;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 1.25rem;
    box-sizing: border-box;
    margin-top: 0;
}

.card-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: smaller;
    background-color: #45A7F0;
    color: #001184;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    padding: 1em;
    border-radius: 2em;
    width: 90%;
}

.div-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

img[itemprop="image"] {
    width: 50%;
    height: 11em;
}

.item-facts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.facts {
    background-color: #F586EB;
    font-family: "Roboto", sans-serif;
    font-size: small;
    color: #470742;
    text-align: center;
    padding: 0.8em;
    border-radius: 2em;
    width: 80%;
    margin: 2%
}

footer {
    font-size: medium;
    text-align: center;
    color: blueviolet;
    padding: 1em;
    font-weight: bolder;
}

@media (min-width: 768px) {
    body {
        margin-top: 5em;
    }

    .encabezado {
        margin-top: 9em;
    }

    .contenedor-logoh1 {
        padding-left: 10em;
    }

    .logo {
        width: 100%;
        max-width: 18rem;
    }

    header {
        font-size: 400%;
    }

    .lema {
        font-size: 1.6em;
        padding-left: 17em;
    }

    .menu img {
        width: 6%;
    }

    label {
        font-size: x-large;
        width: 15%;
    }

    select {
        padding: 0.5em 1em;
        width: 15%;
    }

    button[data-testid="button-clear"] {
        font-size: large;
        margin-left: 2em;
        width: 12%;
    }

    .card-list {
        width: 30%;
        padding: 3em;
    }

    .card-container h2 {
        font-size: larger;
    }

    img[itemprop="image"] {
        height: 15em;
    }

    .facts {
        font-size: medium;
    }



}